body{
    text-align: center;
}
.pages{
    display: flex;
    max-width: 620px;
    margin: 0 auto;
}
.pages a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.page{
    width: 267px;
    border: 1px solid;
    padding: 12px;
}